.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.body {
  border: solid;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.horizontal-icon {
  width: 50px;
  transform: scaleY(3);
}

.vertical-icon {
  width: 50px;
  transform: scaleX(3);
}

.horizontal-icon:hover {
  background-color: lightgray;
}

.vertical-icon:hover {
  background-color: lightgray;
}